*{
    margin: 0;
    padding: 0;
}

.img-cover {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.padding-30 {
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 100px;
  padding-left: 100px;

}

.padding {
    padding-top: 70px;
    padding-bottom: 5px;
    padding-right:100px;
    padding-left: 100px;
}

.headind-adjuster{
  text-align: center;
  font-size: 100px;
}

.paragrph-aduster{
    text-align: center;
    font-size: 30px;
  }

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap:25px;

  }
 
.item{

  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.link-adjuster{
   text-align: center;
   font-size: 25px;
   color: black; 
   
}
.last-p{
    text-align: right;
    padding-top: 100px;
}
img:hover{
    transform: scale(1.1);
    transition: 1s;
} 
  

@media only screen and (max-width: 62rem) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:25px;
  }

  .img-cover {
    height: 600px;
    width: 900px;
    object-fit: cover;

  }
  .link-adjuster{
    text-align: center;
    font-size: 75px; 
  }

.headind-adjuster{
    text-align: center;
     font-size: 200px;
   
  }

.padding-30 {
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 100px;
  padding-left: 100px;

}
.padding {
    padding-top: 70px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 35px;
}
.headind-adjuster{
  text-align: center;
  font-size: 100px;
}
.paragrph-aduster{
    text-align: center;
    font-size: 30px;
  }
.item{

  object-fit: cover;
  display: flex;
  flex-direction: column;
}
.last-p{
    text-align: right;
    padding-top: 100px;
}
  .content-center {
     padding-left: 100px;
     padding-right: 100px;
}
.img-size{
     width: 500px;
            }
  .heading-info{
   text-align: 
   center;font-size: 100px 
  } 

}

@media only screen and (min-width: 62rem) and (max-width: 110rem) {
*{
    margin: 0;
    padding: 0;
}



.img-cover {
  height: 300px;
  width: 400px;
  object-fit: cover;
}


.padding-30 {
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 100px;
  padding-left: 100px;

}
.padding {
    padding-top: 70px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;


}
.headind-adjuster{
  text-align: center;
  font-size: 100px;
}
.paragrph-aduster{
    text-align: center;
    font-size: 30px;

  }

.container{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap:25px;

  }
 
.item{

  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.link-adjuster{
   text-align: center;
   font-size: 25px;
   color: black; 
   
}
.last-p{
    text-align: right;
    padding-top: 100px;
}
 
}